.mf-cursor {
  color: var(--text);
}

@supports (mix-blend-mode: exclusion) {
  .mf-cursor.-exclusion:before {
    background: var(--text);
  }
}

.mf-cursor.-opaque:before,
.mf-cursor.-exclusion.-opaque:before,
.mf-cursor.-exclusion.-opaque.-pointer:before {
  transform: scale(1.32);
}

.mf-cursor.-exclusion.-pointer:not(.-opaque):before {
  transform: scale(0.7);
}

.mf-cursor.-text:before {
  background: var(--text);
}

.mf-cursor-text {
  color: var(--bg);
  font-size: 0.75rem;
  letter-spacing: -0.01em;
}
